<script type="text/javascript" src="src/assets/sparkline.js"></script>

<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price (USD)</th>
        <th>Volume</th>
        <th>Last 7 Days</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coin of coins">
        <td (click)="coinDetails(coin.name)" >{{coin.name}}</td>
        <td><img src="{{coin.image}}" width="25" height="25" alt="{{coin.symbol}}"></td>
        <td>{{coin.current_price}}</td>
        <td>{{coin.total_volume}}</td>
        <td><span class="inlinebar">{{coin.sparkline_in_7d.price}}</span></td>
        <td><button (click)="favouringCoin(coin.name)" class="btn btn-danger">Favourite</button>
        </td>
        <!--<td><button (click)="coinDetails(coin.name)" class="btn btn-info" style="margin-left: 10px">Details</button></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
